<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainMenu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="center">Welcome to main Menu</h1>

        <form action="processReq" method="get">
            <label for="playerName">What's your name</label>
            <input type="text" name="playerName" id="playerName">
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>